@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./pictures/10175284_4347464.jpg');
    background-size: 100vw 110vh;
}


 /* Styles for the imported icons */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

span.icon {
    font-size: 6rem;
    cursor: pointer;
}



/* Styles for the li elements  */
li {
    list-style: none;
}


/* Styles for the img element */
img {
    height: 12rem;
    width: 6em;
}

header img {
    display: block;
    margin: 0 auto;
}


/* Styles for the Nav element */
nav {
    position: sticky;
    background-color: hsl(157, 76%, 39%);
    top: 1em;
    padding: 1.5rem;
    border-radius: 1em;
    margin: 4rem 2rem;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 6rem;
}

nav li {
    position: relative;
    text-align: center;
    font-family: 'Belanosima', sans-serif;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s;
}

nav li::before {
    content: '';
    background-color: hsl(0, 0%, 0%);
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    transition: all 0.2s;
}

nav li::after {
    content: '';
    background-color: hsl(0, 0%, 0%);
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    transition: all 0.2s;
}

nav li:hover::before {
    height: 5px;
    bottom: 35px;
}

nav li:hover::after {
    height: 5px;
    top: 35px;
}

nav li:hover {
    color: white;
}



/* Styles for the 1st section element in the main element */
#ad-banner {
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    margin: 0 3rem;
    border-radius: 1em;
    min-width: 30px;
}


    /* Styles for the banner content inside main advertisement */
article#banner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

div#ad-content {
    grid-column: 2 / 4;
    padding: 15em;
    text-align: center;
    min-width: 30px;
}

h1 {
    font-size: 3rem;
}

h1 ~ p {
    margin-top: 1rem;
    font-size: 2em;
}


            /* Styles for the arrows inside main advertisement */
div.arrow-icon {
    display: flex;
    align-items: center;
}

div.arrow-left {
    margin-left: 6rem;
}

div.arrow-right {
    justify-content: flex-end;
    margin-right: 6rem;
}



    /* Styles for the 2nd Section inside main element */
#benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 4em 1em;
}

#ad-banner + div {
    background-color: hsl(157, 76%, 39%);
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    text-decoration: underline;
    min-width: 100px;
    border-radius: 2rem;
    padding: 2rem;
    margin: 4rem 20rem;
    transition: all 0.2s ease-out;
}

#ad-banner + div:hover {
    background-color: black;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

article h3 {
    margin-bottom: 2em;
}

section#benefits article {
    background-color: white;
    text-align: center;
    box-shadow: 0 0 10px grey;
    padding: 3rem;
    border-radius: 3rem;
    transition: all 0.3s ease-out;
}

section#benefits article:hover {
    box-shadow: 0 0 3rem grey;
    transition: all 0.3s ease-in;
}




/* Styles for the footer element */
footer {
    display: flex;
    background-color: #3b3a3a;
    padding: 2em;
}

footer div {
    flex: 1;
}

    /* Styles for the footer div's elements */
footer div#logo-container-footer {
    text-align: center;
}

footer div#contacts-address {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Belanosima', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
}

#contacts-address a {
    color: white;
}

#contacts-address a:hover {
    color: hsl(157, 76%, 39%);
}


/* Happy Ending ;) */
